body {
    width: 99vw;
    background: #772F1A;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#wrapper{
    justify-content: center;
    align-items: center;
    display: flex;
}

#board{
    float: right;
    margin: 80px 110px 0px 0px;
    background-image: url("../images/MenuBoard.png");
    text-align: center;
    cursor: pointer;
    width: 300px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

button{
    color: #fff;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    background: #12533b;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    border: none;
    width: 150px;
}

button:hover{
    color: #000;
    border: 3px dashed black;
}

button:focus {
    outline: transparent;
}

p{
    color: #fff;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 2px;
    word-spacing: 2px;
}

canvas {
    position: absolute;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

video {
    border:5px dashed #F2A65A;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);         
    height: 630px;
    width: 840px;
}